templates/dtd/1.3_PV1/unicode-keyboard.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XML Spy v3.5 NT (http://www.xmlspy.com)-->
<!ELEMENT unicode-keyboard (key+)>
<!ATTLIST unicode-keyboard
	name CDATA #REQUIRED
>
<!ELEMENT key (content, description?, font?)>
<!ELEMENT content (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT font EMPTY>
<!ATTLIST font
	name CDATA #REQUIRED
	size (1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 | 20 | 21 | 22 | 23 | 24 | 25 | 26 | 27 | 28 | 29 | 30 | 31 | 32 | 33 | 34 | 35 | 36 | 37 | 38 | 39 | 40 | 41 | 42 | 43 | 44 | 45 | 46 | 47 | 48 | 72) #REQUIRED
	face (plain | bold | italic) #REQUIRED
>
